.bg {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
}

.banner {
	width: 50%;
}

.header {
	background-color: rgba(223, 43, 225,0.4);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	border: none;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.junrynn {
	background-color: rgba(223, 43, 225,0.4);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 5px;
	border-radius: 10px;
	border: none;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-size: 30px;
}

.container {
	background-color: rgba(255, 255, 255,0.2);
	box-shadow: 0 10px 15px 0px rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 50%;
	margin-top: 2px;
	padding-bottom: 35%;
}

.subjudul {
	background-color: rgba(223, 43, 225,0.4);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	width: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 20px;
}

.sub {
	background-color: rgba(223, 43, 225,0.4);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	padding-top: 10px;

}

.diamondi {
	color: white;
	background-color: rgba(223, 43, 225,0.1);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 20px 20px 20px 20px rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	margin-left: 10px;
	border: none;
	width: 47%;
	padding-top: 2px;
	padding-bottom: 10px;
	float: left;
}

.diamonds {
	background-color: rgba(223, 43, 225,0.1);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 20px 20px 20px 20px rgba(0, 0, 0, 0.19);
	margin-top: 10px;
	margin-right: 10px;
	border: none;
	width: 47%;
	padding-top: 2px;
	padding-bottom: 10px;
	float: right;
}


.item	{
	background-color: rgba(223, 43, 225,0.7);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
	width: 45%;
	margin-left: 10px;
	border-radius: 10px;
	padding: 2px;
}

.price {
	background-color: rgba(223, 43, 225,0.7);
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: right;
	width: 45%;
	margin-right: 10px;
	border-radius: 10px;
	padding: 2px;
}

.item1 {
	background-color: rgba(255,255,255,0.5);
	float: left;
	margin-right: 6px;
	border-radius: 10px;
	padding: 2px;
	padding-right: 20px;
	padding-left: 20px;
	color: black;
}

.price1 {
	background-color: rgba(255,255,255,0.5);
	float: right;
	margin-left: 6px;
	border-radius: 10px;
	padding: 2px;
	padding-right: 20px;
	padding-left: 20px;
	color: black;

}

.note {
	width: 48%;
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	color: black;
	padding-top: 1px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: -15%;

}

ul {
	margin-left: 30px;
	padding: 3px;
}

li	{
	float: left;

}

/*  layar 505px kebawah */
@media screen and (max-width: 1240px) {

.banner {
	width: 50%;
}
	
.container {
  margin-top: 10px;
  width: 90%;
  padding-bottom: 60%;
	}
.header	{
	width: 50%;
}

.junrynn {
	width: 50%;
}

.subjudul {
	width: 50%;
}

.diamondi {
	width: 45%;
	float: left;
	margin-right: auto;
	margin-left: 2%;
}

.diamonds {
	width: 45%;
	float: right;
	margin-right: 2%;
	margin-left: auto;
}

td {
	width: 40%;
}

.item {
	width: 45%;
}

.price {
	width: 45%;
}

.item1 {
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin-left: 2%;
	margin-right: 190px;
}

.price1 {
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin-right: 2%;
	margin-top: -22px;
}

.note {
	width: 80%;
	margin-top: -25%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	font-size: 30px;
}
ul {
	text-align: left;
	font-size: 18px;
}
}

/*  layar 505px kebawah */
@media screen and (max-width: 700px) {

.banner {
	width: 90%;
}
	
.container {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 30%;
	}
.header	{
	width: 96%;
}

.junrynn {
	width: 96%;
}

.subjudul {
	width: 96%;
}

.diamondi {
	width: 96%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

.diamonds {
	width: 96%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

td {
	width: 40%;
}

.item {
	width: 45%;
}

.price {
	width: 45%;
}

.item1 {
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin-left: 2%;
	margin-right: 390px;
}

.price1 {
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin-right: 2%;
	margin-top: -22px;
}

.note {
	margin-top: -28%;
	width: 96%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;

}

h2 {
	text-align: center;
	font-size: 20px;
}
ul {
	text-align: left;
	font-size: 15px;
}
}

/*  layar 505px kebawah */
@media screen and (max-width: 520px) {

.banner {
	width: 95%;
}
	
.container {
  margin-top: 10px;
  width: 100%;
 padding-bottom: 40%;
	}
.header	{
	width: 96%;
}

.junrynn {
	width: 96%;
}

.subjudul {
	width: 96%;
}

.diamondi {
	width: 96%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

.diamonds {
	width: 96%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

td {
	width: 40%;
}

.item {
	width: 45%;
}

.price {
	width: 45%;
}

.item1 {
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin-left: 3%;
	margin-right: 290px;
}

.price1 {
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin-right: 3%;
	margin-top: -22px;
}

.note {
	margin-top: -35%;
	width: 96%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;

}

h2 {
	text-align: center;
	font-size: 18px;
}
ul {
	text-align: left;
	font-size: 14px;
}
}

/*  layar 420px kebawah */
@media screen and (max-width: 420px) {

.banner {
	width: 95%;
}
	
.container {
	font-size: 12px;
  	margin-top: 10px;
  	width: 100%;
  	padding-bottom: 50%;
	}
.header	{
	font-size: 12px;
	width: 90%;
}

.junrynn {
	font-size: 22px;
	width: 90%;
}

.subjudul {
	width: 90%;
	font-size: 18px;
}

.diamondi {
	width: 90%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

.diamonds {
	width: 90%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}


.item {
	width :45%;
}

td {
	width: 40%;
}

.price {
	width: 45%;
}

.item1 {
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 100%;
	margin-left: 4%;
	margin-right: 190px;
}

.price1 {
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 100%;
	margin-right: 4%;
	margin-top: -19px;
}

.note {
	margin-top: -45%;
	width: 90%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;

}

h2 {
	text-align: center;
	font-size: 12px;
}
ul {
	text-align: left;
	font-size: 12px;
}
}

/*  layar 330px kebawah */
@media screen and (max-width: 330px) {

.banner {
	width: 95%;
}
	
.container {
	font-size: 12px;
  	margin-top: 10px;
  	width: 100%;
  	padding-bottom: 75%;
	}
.header	{
	width: 90%;
}

.junrynn {
	width: 90%;
}

.subjudul {
	width: 90%;
	font-size: 12px;
}

.diamondi {
	width: 90%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

.diamonds {
	width: 90%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

td {
	width: 35%;
}

.item {
	width :40%;
}

.price {
	width: 40%;
}

.item1 {
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 100%;
	margin-left: 4%;
	margin-right: 120px;
}

.price1 {
	text-align: center;
	font-size: 100%;
	padding-left: 2%;
	padding-right: 2%;
	margin-right: 4%;
	margin-top: -19px;
}

.note {
	margin-top: -70%;
	width: 90%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;

}

h2 {
	text-align: center;
	font-size: 12px;
}
ul {
	text-align: left;
	font-size: 12px;
}
}


